<template>
  <div>
    <h1>รายการรับสมัคร</h1>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >เพิ่มรายการรับสมัคร</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="CompanyName"
          label-for="companyName"
          :invalid-feedback="invalidFeedbackCompanyName"
          :valid-feedback="validFeedbackCompanyName"
          :state="stateCompanyName"
        >
          <b-form-input
            id="companyName"
            v-model="form.companyName"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Amount"
          label-for="amount"
          :invalid-feedback="invalidFeedbackAmount"
          :valid-feedback="validFeedbackAmount"
          :state="stateAmount"
        >
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="CloseDate"
          label-for="closeDate"
          :invalid-feedback="invalidFeedbackCloseDate"
          :valid-feedback="validFeedbackCloseDate"
          :state="stateCloseDate"
        >
          <b-form-input
            id="closeDate"
            v-model="form.closeDate"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <!--  -->
    <b-modal
      id="modal-form-viewCoop"
      ref="modal-form-viewCoop"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="Name" label-for="name">
          <b-form-input
            id="name"
            v-model="form.name"
            required
            readonly
          ></b-form-input>
        </b-form-group>
        <b-form-group label="CompanyName" label-for="companyName">
          <b-form-input
            id="companyName"
            v-model="form.companyName"
            required
            readonly
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Amount" label-for="amount">
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
            readonly
          ></b-form-input>
        </b-form-group>
        <b-form-group label="CloseDate" label-for="closeDate">
          <b-form-input
            id="closeDate"
            v-model="form.closeDate"
            required
            readonly
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(menu)="data">
        <b-button variant="info" @click="viewCoop(data.item)"
          ><b-icon-eye>View</b-icon-eye></b-button
        >&nbsp;
        <b-button @click="editUser(data.item)"
          ><b-icon-pencil>Edit</b-icon-pencil></b-button
        >&nbsp;
        <b-button variant="danger" @click="delUser(data.item)"
          ><b-icon-trash>Delete</b-icon-trash></b-button
        >&nbsp;
        <b-button variant="outline-primary"
          ><router-link to="/Users">รายชื่อนิสิต</router-link></b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มรายการรับสมัคร',
      form: {
        id: -1,
        name: '',
        companyName: '',
        amount: 0,
        closeDate: ''
      },
      userList: [
        {
          id: 1,
          name: 'รับสมัครFrontend - Webdeva',
          companyName: 'Clicknext',
          amount: 5,
          closeDate: '2/2/2020'
        },
        {
          id: 2,
          name: 'รับสมัครFrontend - Webdeva',
          companyName: 'Scb',
          amount: 10,
          closeDate: '2/5/2020'
        }
      ],
      lastId: 3,
      fields: ['id', 'name', 'companyName', 'amount', 'closeDate', 'menu']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    viewCoop (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'ข้อมูลผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-viewCoop')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Delete')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่ ?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateCompanyName === true ? 'สำเร็จ' : ''
    },
    stateCompanyName () {
      return this.form.companyName.length >= 1
    },
    invalidFeedbackCompanyName () {
      if (this.form.companyName.length > 0) {
        return ''
      } else {
        return 'ต้องใส่ชื่อบริษัท'
      }
    },
    validFeedbackCompanyName () {
      return this.stateCompanyName === true ? 'สำเร็จ' : ''
    },
    stateAmount () {
      return this.form.amount.length >= 1
    },
    invalidFeedbackAmount () {
      if (this.form.amount.length > 0) {
        return ''
      } else {
        return 'ต้องใส่จำนวนคน'
      }
    },
    validFeedbackAmount () {
      return this.stateAmount === true ? 'สำเร็จ' : ''
    },
    stateCloseDate () {
      return this.form.closeDate.length >= 1
    },
    invalidFeedbackCloseDate () {
      if (this.form.closeDate.length > 0) {
        return ''
      } else {
        return 'ต้องใส่วันที่'
      }
    },
    validFeedbackCloseDate () {
      return this.stateCloseDate === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
